/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e0d7d3;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #b7a39b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 70px;
}

.topo h1 {
  font-size: 1.3rem;
  color: #2f2f2f;
}

.topo p {
  font-size: 0.9rem;
  color: #333;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-usuario {
  background-color: #ccc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.info-usuario {
  font-size: 0.85rem;
  color: #2f2f2f;
}

/* SIDEBAR */
.sidebar {
  text-align: center;
  position: fixed;
  top: 90px;
  /* abaixo do header */
  left: 0;
  width: 220px;
  height: calc(100vh - 90px);
  background-color: #f6f2f0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  color: black;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px 20px;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.ativo {
  background-color: #b7a39b;
  color: #fff;
  border-radius: 8px;
}

/* CONTEÚDO */
.conteudo {
  margin-top: 90px;
  /* abaixo do header */
  margin-left: 220px;
  /* à direita da sidebar */
  padding: 20px;
  /* flex: 1; removido, pois não é flex */
}

.conteudo h2 {
  color: #2f2f2f;
}

.sidebar a {
  display: block;
  width: 100%;
  text-decoration: none;
  /* Remove o sublinhado padrão dos links */
  color: inherit;
  /* Herda a cor do <li> */
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Ocultar todas as seções por padrão */
.conteudo section {
  display: none;
}

/* Mostrar apenas a seção ativa */
.conteudo section.active {
  display: block;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  max-width: 100%;
}

.card-info {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 220px;
  /* largura do card */
  height: 100px;
  /* altura fixa opcional */
  transition: 0.3s;
}

.card-info:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-icon {
  background-color: #e6ddd8;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon span {
  font-size: 1.5rem;
}

.card-text {
  flex: 1;
  margin-left: 15px;
}

.card-text h3 {
  font-size: 1.3rem;
  color: #222;
}

.card-text p {
  font-size: 0.9rem;
  color: #666;
}

.card-stat {
  color: #4db2ff;
  font-size: 1.4rem;
}

button {
  margin: 30px 0px 30px 0px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 2px #000000;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b7a39b;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0);
}
.lists-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-list {
  
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  transition: 0.3s;
}

.card-list:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.tabela-container {
  border: 3px solid #000000;
  border-radius: 6px;
  padding: 10px;
  background: white;
  width: 80%;
  max-width: 1000px;
  min-width: 800px;
}

table {
  width: 100%;
  border-collapse: separate;
}

thead {
  background-color: #b69483;
  color: white;
}

th, td {
  display: table-cell;
  text-align: left;
  padding: 12px 15px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.status {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
}

.disponivel {
  background-color: #4CAF50;
}

.emprestado {
  background-color: #e6b800;
  color: black;
}
.atrasado {
  background-color: #ff4d4d;
}

.acao {
  color: #4a90e2;
  cursor: pointer;
  font-size: 1.2em;
}

.acao:hover {
  color: #13c2e0;
}


.search-box {
  margin: 0px 0px 30px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 8px 35px 8px 10px;
  border: 2px solid #000000;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  width: 250px;
}

.search-box i {
  position: absolute;
  right: 10px;
  color: #4a90e2;
}
